body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed ;
  background-size: cover;
}


h1 {
  font-size: 3em;
  color: #f4fc03;
  font-style: italic;
}

.buffer {
  height: 50px;
}



.btn {
  font-weight:700 ; 
  border-radius: 300px;
}
.btn-x {

padding: 1rem 2rem;
}


.btn-warning {

  background-color: lime;
  border-color: orangered;
}


